*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #1a4d66;
}

body.correct {
  background-color: #86e4b2;
  background-image: url('img/correct.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

body.wrong {
  background-color: #3c5e91;
  background-image: url('img/wrong.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

/*buttons*/

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  border: 1px solid #d19ff3;
  background-color: #d19ff3;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  color: black;
  /* EDIT THIS FOR RIGHT ANSWER BUTTON BACKGROUND */
  background-color: #6ef379;
}

.btn.wrong {
  /* EDIT THIS FOR WRONG ANSWER BUTTON BACKGROUND */
  background-color: #e65e8b;
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
} 

#result {
  text-align: center;
  color:red;
  font-size: 1.5rem;
}