*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  height: 100dvh;
  justify-content: center;
  color: #2b1b2f;
  align-items: flex-start;
  padding-top: 60px;
  background-image: url('img/hearts.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.correct {
  background-color: #e4de86;
  background-image: url('img/correct.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

body.wrong {
  background-color: #3a82ec;
  background-image: url('img/wrong.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: rgb(231, 204, 248);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.35);
  color:white;
  font-weight: bold;
  text-align: center;
  font-size:30px;
}

/*buttons*/

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  border: 1px solid #d19ff3;
  background-color: #d19ff3;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  min-height: 60px;
}

.btn:hover {
  border-color: rgb(156, 5, 243);
}

.btn.correct {
  color: white;
  /* EDIT THIS FOR RIGHT ANSWER BUTTON BACKGROUND */
  background-color: #6ef379;
}

.btn.wrong {
  /* EDIT THIS FOR WRONG ANSWER BUTTON BACKGROUND */
  background-color: #e65e8b;
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
} 

#result {
  text-align: center;
  color:white;
  font-weight: bold;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  body {
    padding-top: 30px;
    background-position: center top;
  }
}