*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
}

:root {
  /* EDIT THESE FOR PAGE BACKGROUND */
  --bg-neutral: #1a4d66;
  --bg-wrong: #6b0f0f;
  --bg-correct: #0f6b3a;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-neutral);
}

body.correct {
  background-color: var(--bg-correct);
}

body.wrong {
  background-color: var(--bg-wrong);
 
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

/*buttons*/

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  border: 1px solid #1f4f7a;
  background-color: #2d74b2;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  color: black;
  /* EDIT THIS FOR RIGHT ANSWER BUTTON BACKGROUND */
  background-color: #2ecc71;
}

.btn.wrong {
  /* EDIT THIS FOR WRONG ANSWER BUTTON BACKGROUND */
  background-color: #e74c3c;
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
} 

#result {
  text-align: center;
  color:red;
  font-size: 1.5rem;
}